{% extends '::base.html.twig' %}

{% block title %}
    Horoscope
{% endblock %}

{% block body %}
    <h1>Test olivier</h1>
    <p>
        Essai contenu page horoscope dans bundle {{ name }}
    </p>
{% endblock %}
